.competition{
    width: 100%;
    min-height: 100vh;    
    background: #002874;
    padding: 40px;
}

.section-heading-competitions{
    margin: 40px;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-transform: uppercase;
    color: white;
}
.competition-container{
    margin: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.competition-box{
    height: 600px;
    width: 400px;
    margin-bottom: 40px;
    margin-right: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    overflow:hidden;
}

.competition-brewing-box{
    background: #BBBBBB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 600px;
    width: 400px;
    margin-bottom: 40px;
    margin-right: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #4B4B4B;
}
.competition-image{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: violet;
}
.competition-text{
    padding-top:10px;
    position: absolute;
    bottom: 0;
    transform: translateY(0);
    height: 180px;
    width: 100%;
    background-color: white;
    font-weight: 600;
    font-size: 29.7384px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.competition-text-name{
    font-size: 24px;
    line-height: 30px;
}
.competition-text-designation{
    font-size: 16px;
    line-height: 25px;
}

.competition-button{
    font-weight: 300;
font-size: 16.303px;
line-height: 27px;
text-transform: uppercase;
color: white;
margin-top: 10px;
padding: 7px 25px;
width: 80%;
text-align: center;
box-shadow: 0px 2.78788px 2.78788px rgba(0, 0, 0, 0.25);
border-radius: 20px;
text-decoration: none;
}

.blue{
    background-color: #002874;
}

.red{
    background-color: #CC0045;
}
@media screen and (max-width:1100px){
    .competition-box{
        height: 370px;
        width: 240px;
    }
    .competition-brewing-box{
        height: 370px;
        width: 240px;
    }
}


@media screen and (max-width:934px){
    .competition-box{
        height: 400px;
        width: 300px;
    }
    .competition-brewing-box{
        height: 400px;
        width: 300px;
    }
}

@media screen and (max-width:790px){
    .competition-box{
        height: 340px;
        width: 220px;
    }
    .section-heading-competitions {
        font-size: 40px;
    }
    .competition-brewing-box{
        height: 340px;
        width: 220px;
    }
}

@media screen and (max-width:616px){
    .competition-box{
        height: 370px;
        width: 270px;
    }
    .competition-brewing-box{
        height: 370px;
        width: 270px;
    }
}

@media screen and (max-width:500px){
    .competition{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .section-heading-competitions {
        font-size: 30px;
    }
    .competition-container{
        align-items: center;
        justify-content: center;
    }
    .competition-box{
        height: 370px;
        width: 270px;
        margin-right: 0;
    }
    .competition-brewing-box{
        height: 370px;
        width: 270px;
        margin-right: 0;
    }
}