.header{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.header-image-navbar{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-image{
    width: 60vw;
}
.header-bottom{
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
    right: 0;
    background-color: #002874;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.header-bottom-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px 0;
}
.header-bottom-content-number{
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.header-bottom-content-number sup{
    font-weight: bold;
font-size: 30px;
line-height: 37px;
text-transform: lowercase;

}

.header-bottom-content-text{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}