.angel-connect-navbar{
    width: 100vw;
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
}


.angel-connect-nav-link{  
    display: flex;
    flex-grow: .3 ;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;  
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
   
}

.menulogo{
    display: hidden;
}

.angel-connect-nav-link>a{
    padding: 5%;
    font-size: 15px;
    text-decoration: none;
    color:  #002874;
    
}
 
.angel-connect-nav-link>a:hover {
    color: #CC0045;
}

.angel-connect-active{
    font-weight: bold;
}
.techno-logo{
    padding-top: 5px;
    padding-left: 1%;

}
.techno-logo-mobile{
    display:none;
    text-align:center;
}
.nav-wrap{
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .angel-connect-nav-link{
        font-size:17px;
    }
  }
 

  @media only screen and (max-width: 600px) {
   
    .angel-connect-nav-link{
        justify-content: space-evenly;
        flex:1;

    }
  }