.competition{
    width: 100%;
    min-height: 100vh;    
    background: #002874;
    padding: 40px;
    position: relative;
}

.section-heading-competitions{
    margin: 40px;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-transform: uppercase;
    color: white;
    z-index: 3;
    position: relative;
}
.competition-container{
    /* margin: 70px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 60px;
    z-index: 3;
    position: relative;
}

.competition-box{
    height: 500px;
    width: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    overflow:hidden;
}

.competition-brewing-box{
    background: #BBBBBB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 500px;
    width: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #4B4B4B;
}
.competition-image-text {
    /* display:none;    */
    transition: 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
    font-size: 0.8rem;
    
}
.competition-image-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: 0.2s;
    overflow: hidden;
}

.competition-image-container:hover .competition-image{
    opacity: 0.1;
}

.competition-image-container:hover .competition-image-text{
    opacity: 1;
}

.competition-text{
    padding-top:10px;
    position: absolute;
    bottom: 0;
    transform: translateY(0);
    height: 180px;
    width: 100%;
    background-color: white;
    font-weight: 600;
    font-size: 29.7384px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
} 
.competition-image{
    width: 100%;
    height: 50vh;
    transition: 0.2s ease;
}
.competition-text-name-container{
    overflow: hidden;
    padding-top:18px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
}
.competition-text-name-image{
    width: 80%;
}
.competition-text-designation{
    font-size: 16px;

    line-height: 25px;
}

.competition-button{
    font-weight: 300;
font-size: 16.303px;
line-height: 27px;
text-transform: uppercase;
color: white;
margin-top: 10px;
padding: 7px 25px;
width: 80%;
text-align: center;
box-shadow: 0px 2.78788px 2.78788px rgba(0, 0, 0, 0.25);
border-radius: 20px;
text-decoration: none;
background-color: #002874;
transition: 0.3s;
}

.competition-button:hover{
    background-color: #CC0045;
}

.blue{
    background-color: #002874;
}

.red{
    background-color: #CC0045;
}
@media screen and (max-width:1100px){
    .competition-box{
        height: 370px;
        width: 240px;
    }
    .competition-brewing-box{
        height: 370px;
        width: 240px;
    }
}


@media screen and (max-width:934px){
    .competition-box{
        height: 400px;
        width: 300px;
    }
    .competition-brewing-box{
        height: 400px;
        width: 300px;
    }
}

@media screen and (max-width:790px){
    .competition-box{
        height: 340px;
        width: 220px;
    }
    .section-heading-competitions {
        font-size: 40px;
    }
    .competition-brewing-box{
        height: 340px;
        width: 220px;
    }
}

@media screen and (max-width:616px){
    .competition-box{
        height: 370px;
        width: 270px;
    }
    .competition-brewing-box{
        height: 370px;
        width: 270px;
    }
}

@media screen and (max-width:500px){
    .competition{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .competition-container{
        align-items: center;
        justify-content: center;
    }
    .competition-box{
        height: 370px;
        width: 270px;
        margin-right: 0;
    }
    .competition-brewing-box{
        height: 370px;
        width: 270px;
        margin-right: 0;
    }
}